<!DOCTYPE html>
<html lang="ar">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    {%load static %}
    <link rel="stylesheet" href="{% static 'css/index.css'%}">
    <link rel="stylesheet" href="{% static 'css/login.css'%}">
  </head>
  <body>
    <div class="form-box">
      <h2>Login</h2>
      <form action="" method="POST">
        {% csrf_token %} {{form.as_p}}
        <input type="submit" value="log in" />
        <a href="/register" class="link"> create new account </a>
      </form>
      {%for msg in messages%}
      <p style="color: red">{{msg}}</p>
      {%endfor%}
    </div>
  </body>
</html>
